<div class="closed_notice_description">

	<div class="closed_notice_doers">
		<%= notice_item.doers if notice_item.doers != nil %>
		<%= "and" if (notice_item.doers != "" && notice_item.self_doer) %>
		<%= User.find(notice_item.completed_by_id).name if !notice_item.completed_by_id.nil? %>
	</div>
	

	<div class="closed_notice_content">
		<%= notice_item.content %><br />
	</div>
	
	<% if !notice_item.description_comment_id.nil? %>
		<div class="closed_notice_description_comment">
			<%= notice_item.description_comment.content %>
		</div>
	<% end %>
	
	<div class="closed_notice_posted_by">
		<% poster = User.find(notice_item.user_id) %>
		Posted by: <%= link_to poster.name, user_path(poster), :class => "user_show_link" %>
	</div>

	<% if poster != current_user %>
		<% if notice_item.karma_grants.map{|kg| kg.user_id}.include?(current_user.id)%>
		<% karma_grant = notice_item.karma_grants.find_by_user_id(current_user.id) %>
			You granted <%= pluralize(karma_grant.karma_points, "karma point") %> 
			<div class="closed_notice_date">
				granted on 
				<%= karma_grant.created_at.localtime.to_formatted_s(:long_ordinal) %>
			</div>
			<%= link_to "revoke", karma_grant, :method => :delete,
			 								   :confirm => "Are you sure you want to revoke this karma?", 
											   :title => "Revoke",
											   :class => "karma_revoke_link" %>
			

		<% else %>		
			<%= render 'shared/karma_grants/new_karma_grant_form', 
					:notice_id => notice_item.id  %>
		<% end %>
	<% end %>
	
	
	<div class="closed_notice_date">
		<%= time_ago_in_words(notice_item.created_at.localtime)%> ago
	</div>
	

	
	<div class="closed_notice_karma_points">
		total karma: <%= notice_item.total_karma %> points
	</div>
	
	<% if User.find(notice_item.user_id) == current_user %>
		<%= link_to "delete", notice_item, :method => :delete,
						:confirm => "Are you sure you want to delete this notice?",
						:title => "Delete notice",
						:class => "notice_delete_link" %>
	<% end %>
	
	
</div>