<li>

<%= link_to gravatar_for(user, :size => 30), user %>
<%= link_to user.name, user %>

<% if user.admin? %><b>Admin</b><% end %>

<% if current_user.admin? %>	
	
	<% if user.admin? %>
		(<%= link_to "Revoke admin", user_toggle_admin_path(user),
								   :method => :post,
								   :title => "Revoke admin" %>)
	<% else %>

 		(<%= link_to "Make admin", user_toggle_admin_path(user), 
						   :method => :post,
						   :title => "Make admin" %>)
	
	<% end %>
	
	| <%= link_to "delete", user, :method => :delete,
								  :confirm => "You sure?",
								  :title => "Delete #{user.name}"%>

<% end %>



</li>