<%= render 'shared/user_id_header' %>

<% if @user_posts != nil %>
	
	<div class="feed_header">Recent activity:</div>
		
	<div class="feed">

		<%= will_paginate @user_posts %>

		<% @user_posts.each do |post| %>

			<div class="user_show_item">

				<% if post.class == Notice %>
					<% @notice_item = post %>
					<div class="user_show_item_description">
						<%#= (@user == current_user) ? "You" : @user.name %> posted a notice:
					</div>
						<%= render 'shared/notices/notice_description', :notice_item => post%>
				
				<% elsif post.class == KarmaGrant && @user == current_user %>
					<div class="user_show_item_description">
						<!--You--> granted karma to the following notice:
					</div>
					
					<%= render 'shared/notices/notice_description', 
								:notice_item => Notice.find(post.notice_id)%>
				
				<% elsif post.class == Comment %>	
					<div class="user_show_item_description">
						<%#= (@user == current_user) ? "You" : @user.name %>  
						commented on the following notice:
					</div>
						<%= render 'shared/notices/notice_description', 
									:notice_item => Notice.find(post.notice_id)%>
					<div class="notice_comments">
						<%= render 'shared/comments/comment_item', :comment_item => post %>
					</div>
				<% end %>

			</div>	
		
		<% end %>

		<%= will_paginate @user_posts %>
		
	</div>
	
<% else %>
	Nothing to show. 
	
<% end %>