<% title @user.name %>
<%= render 'shared/user_id_header' %>

<% if @user_posts != [] %>
	
	<div class="feed_header">Recent activity:</div>
		
	<div class="feed">

		<%= will_paginate @user_posts %>

		<% @user_posts.each do |post| %>

			<div class="user_show_item">
				
				<% case post.type %>
				<% when :notice %>
					<div class="user_show_item_description">
						posted a notice:
					</div>
					<%= render 'shared/notices/closed_notice_description', 
											:notice_item => post.notice %>				
				
				<% when :comment %>
					<div class="user_show_item_description">
						commented on the following notice:
					</div>
					<%= render 'shared/notices/closed_notice_description', 
											:notice_item => post.notice%>
					<div class="notice_comments">
					<%= render 'shared/comments/comment_item', 
											:comment_item => post.comment %>
					</div>
					
				<% when :notice_with_comment %>	
					<div class="user_show_item_description">
						posted and commented on the following notice:
					</div>
					<%= render 'shared/notices/closed_notice_description', 
											:notice_item => post.notice%>
					<div class="notice_comments">
					<%= render 'shared/comments/comment_item', 
											:comment_item => post.comment %>
					</div>
					
				<% when :karma_grant %>
					<div class="user_show_item_description">
						granted karma to the following notice:
					</div>
					<%= render 'shared/notices/closed_notice_description', 
											:notice_item => post.notice %>
								
				<% when :comment_with_karma_grant %>
					<div class="user_show_item_description">
						commented on and granted karma to the following notice:
					</div>
					<%= render 'shared/notices/closed_notice_description', 
											:notice_item => post.notice%>
					<div class="notice_comments">
					<%= render 'shared/comments/comment_item', 
											:comment_item => post.comment %>
					</div>
				
				<% end %>
					
			</div>	
		
		<% end %>

		<%= will_paginate @user_posts %>
		
	</div>
	
<% else %>
	<br />
	<div class="feed_header">This user has no activity.</div>
  
	
<% end %>