<%= form_for @new_karma_grant do |f| %>
	<%= f.hidden_field :notice_id, :value => @new_karma_grant.notice_id %>
	<table class="new_karma_grant">
		<tr>
			<td class="new_karma_grant_label">
				grant karma:
			</td>
			<td class="new_karma_grant_input">
				<div class="field">
					<%= f.label(:karma_points, "1" )%>
				<div class="field">
					<%= f.radio_button(:karma_points, 1)%>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label(:karma_points, "2" )%>
				<div class="field">
					<%= f.radio_button(:karma_points, 2)%>
				</div>
			</td>
			<td>				
				<div class="field">
					<%= f.label(:karma_points, "3" )%>
				<div class="field">
					<%= f.radio_button(:karma_points, 3)%>
				</div>
			</td>
			
			<td>
				<div class="actions">
					<%= f.submit "grant" %>
				</div>
			</td>
		
		</tr>
	</table>
<% end %>
