<div class="new_notice_form">
	
	<%= form_for @notice do |f| %>
	
		<%= render 'shared/error_messages', :object => f.object %>
	
		<div class="new_notice_header">Post a new notice:</div>

		<div class="new_notice_doers">
			<div class="field" >
				<%= f.check_box :self_doer %>
				<%= f.label :self_doer, "I (and other people):"%><br />
			</div>

			<div class="field">
				<%#= f.label :doers, "other people:" %>
				<%= f.text_field :doers, :size => 50 %>
			</div>
		</div>
		
		<div class="new_notice_content">
			<div class="field">
				<%= f.label :content, "did what?" %><br />
			</div>

			<div class="field">
				<%= f.text_field :content, :size => 50 %>
			</div>
		</div>
		
		<div class="new_notice_comment">
			<div class="field">
				<%= label_tag :comment, "comment:", 
							  :style => "vertical-align:top" %><br />
			</div>					

			<div class="field">
				<%= text_area_tag :comment, nil, :size => "37x6" %>
			</div>
		</div>
		
		<div class="new_notice_submit">
			<div class="actions">
				<%= f.submit "Post" %>
			</div>
		</div>
	
	<% end %>

</div>
	
		
		