<div class="feed">

	<div class="pagination">
	    <div class="page_info">
	      <%= page_entries_info @notice_items  %>
	    </div>
	 	<%= will_paginate @notice_items %>
	  </div>
	
	<div class="feed_header">Recent notices:</div>
	<%= render :partial => 'shared/notices/notice_item', 
			   :collection => @notice_items %>

	<div class="pagination">
	    <div class="page_info">
	      <%= page_entries_info @notice_items  %>
	    </div>
	    	<%= will_paginate @notice_items %>
	  </div>

</div>