<!DOCTYPE html>
<html>
<head>
  <title>Karma<%= " | " + content_for(:title) if content_for?(:title)%></title>
  <%= stylesheet_link_tag('stylesheets/custom', :media => 'screen')%>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'jquery'%>
  <%= javascript_include_tag 'rails' %>
</head>
<body>
<div class="container">

<%= render 'layouts/header' %>

<section class="flash messages">
	<% flash.each do |key, value| %>
	<%= content_tag(:div, value, :class => "flash #{key}") %>
	<% end %>
</section>



<%= yield %>

<div style="clear:both"></div>


<%= render 'layouts/footer' %>


	<% if Rails.env.development? %>
	<%= debug(params) %>
	<%= debug(session)%>
	<% end %>
</body>
</html>


